@charset "utf-8";

/* reset */
#pirpmain-cont, #pirpmain-cont div, #pirpmain-cont span, #pirpmain-cont p, #pirpmain-cont input, #pirpmain-cont select, #pirpmain-cont h2, #pirpmain-cont table, #pirpmain-cont td {
    font-family: Tahoma,arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* RatePAY Calculator */
div.piRpClearFix {
    clear: both;
}

#pirpmain-cont {
    width: 472px !important;
    margin: 0 auto;
}

#pirpmain-cont input.piRpInput-button {
    width:134px;
    color:#000;
    background:#f2c551;
    border:none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight:bold;
    padding:2px;
    cursor:pointer;
    position:relative;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}

#piRpHeader {
    width: 100%;
    height: 40px;
}

#piRpHeader div {
    float:right;
    margin-top: 20px;
}

#piRpHeader img {
    float: left;
}

#piRpHeader span {
    font-size: 16px;
}

#pirpmain-cont p.piRpText {
    width: 400px;
}

#pirpmain-cont p.piRpTop-Text {
    margin: 20px 15px 0;
}

div#piRpContentSwitch {
    margin: 20px 0 0;
}

#piRpContentSwitch div {
    background: url(../images/text-icon-blue.jpg) no-repeat left top transparent;
    width: 190px;
    padding: 2px 0 0 15px;
    color: #263551;
}

#piRpContentSwitch div.piRpActive {
    color: #B69767;
}

#piRpContentSwitch input {
    display: block;
    margin-top: 5px;
}

#piRpSwitchToTerm {
    float: left;
}

#piRpSwitchToRuntime {
    float: right;
    left: 40px;
    position: relative;
}

#pirpmain-cont .piRpContent p {
    margin-bottom: 25px;
}

#pirpmain-cont div.piRpContent {
    padding: 8px 11px 10px 14px;
    margin-top: 20px;
}

#piRpContentTerm {
    background: url(../images/arrow.png) no-repeat left top #f3f3f3;
}

#piRpContentRuntime {
    background: url(../images/arrow-right.png) no-repeat right top #f3f3f3;
}

#pirpmain-cont .piRpContent select, #pirpmain-cont .piRpContent input.piRpInput-amount {
    border: 1px solid #D1DFE0;
    text-align: right;
    margin: 0 15px;
    position: relative;
    top: 2px;
}

#pirpmain-cont .piRpContent select {
    width: 144px;
    height: 23px;
    position: relative;
    top: -3px;
    font-size: 11px;
}

#pirpmain-cont .piRpContent input.piRpInput-amount {
    padding: 4px 0;
    width: 99px;
    margin-right: 0;
}

#pirpmain-cont .piRpContent span.piRpCurrency {
    margin-right: 15px;
}

/* RatePAY Calculator Result */
#pirpmain-cont #piRpResult {
    background: none repeat scroll 0 0 #F3F3F3;
    padding: 15px 11px 10px 14px;
}

#pirpmain-cont #piRpNotfication {
    background: none repeat scroll 0 0 #FFFFE0;
    border: 1px solid #E6DB55;
    border-radius: 5px 5px 5px 5px;
    color: #263551;
    margin: 0 0 25px;
    padding: 10px 5px;
}

#pirpmain-cont h2.pirpmid-heading {
    font-size: 15px;
    margin: 20px 0 18px;
}

#piInstallmentTerms th {
    text-align: left;
    width: 297px;
    font-weight: normal;
    padding-left: 15px;
}

#piInstallmentTerms td {
    text-align: right;
}

#piInstallmentTerms tr.piHighlight th {
    padding-left: 0;
}

#piInstallmentTerms tr.piHighlight th, #piInstallmentTerms tr.piHighlight td {
    font-weight: bold;
}

#piInstallmentTerms th, #piInstallmentTerms td {
    line-height: 20px;
}

#piInstallmentTerms tr.piTableHr th, #piInstallmentTerms tr.piTableHr td {
    padding-bottom: 10px;
}

#piInstallmentTerms tr.piTableHr {
    border-bottom: 1px solid #d1ded0;
}

#piInstallmentTerms tr.piPriceSectionHead td, #piInstallmentTerms tr.piPriceSectionHead th {
    padding-top: 10px;
}

table#piInstallmentTerms {
    width: 422px !important;
    margin-bottom: 15px;
}